# קבצים של Python שלא צריך ב-Git
__pycache__/
*.pyc
*.pyo

# קבצי סביבה עם מידע רגיש
.env

# מסד נתונים זמני (SQLite)
test.db

# קבצים של Pytest שלא צריך
.pytest_cache/

# קבצי מערכת של VSCode
.vscode/
